.tx-pastecode-pi1-browsebox table td p {
	padding: 0 4px;
}
.tx-pastecode-pi1-browsebox-SCell p a {
	font-weight: bold;
	color: #A81919;
}

.tx-pastecode-pi1 {
	font-size: 1.2em;
}

.tx-pastecode-pi1 img.icon {
	margin-right: 5px;
}

.tx-pastecode-pi1-browsebox {
	font-size: 0.6em;
}
.tx-pastecode-pi1 h2 {
	border-bottom: 1px solid #FF9F33;
	color:#FF9F33;
}

.tx-pastecode-pi1 h2 span.browser-results {
	float:right;
	font-size: 10px;
	color: #aaa;
	padding-top: 2px;
}

.tx-pastecode-pi1 ul {
	font-size: 1.1em;
}
	
ul#snippetmenu {
	float: right;
	list-style: none;
	margin-right:10px;
	
}
ul#snippetmenu li {
	padding: 5px 5px 5px 0;
	border-right: 5px solid #FF9F33;
}

#snippets-left {
	float:left;
	width: 470px;
}

#snippets-left ul {
	margin-left: 5px;
	list-style: none;
}

#pastediv {
	margin-top: 10px;
}
.tx-pastecode-pi1 a {
	text-decoration: none;
}
.tx-pastecode-pi1 a:hover {
	text-decoration: underline;
}

#snippets-left ul li {
	padding: 4px 1px;
}

#snippets-left ul li:hover {
	background-color:#eee;
}

#snippets-right {
	float:right;
	width:280px;
}

.tx-pastecode-pi1 .snippet-single-userinfo img {
	margin-right:12px;
	vertical-align:top;
}

.clear {
	clear: all;
}

.tagcloud, .langcloud, .last10cloud {
	margin: 10px;
	border: 1px solid #000;
}
.tagcloud p, .langcloud p, .last10cloud p {
	background-color: #FF9F33 !important;
	text-align: center !important;
	padding:3px;
	margin: 0 0 5px 0 !important;
	color: #fff;
	font-weight: bold;
}
.tagcloud div {
	padding:4px 6px;
}
.tagcloud div a {
   
}
.tagcloud div a:hover {
	/*background-color: #FF9F33;
	color: #fff;
	font-size: 16px;;*/
}

.langcloud ul {
	margin: 2px 2px 10px 16px;
	font-size: 1.0em;
}
.langcloud ul li {
	padding: 0 1px;
}
.last10cloud ul {
	margin: 2px 2px 10px 16px;
	font-size: 1.0em;
}
.last10cloud ul li {
	padding: 2px 1px;
}

.last10cloud p.rss {
	text-align:right !important;
	border-bottom: 1px solid #FF9F33;
	background-color: white !important;
	font-size: 10px !important;
}

.last10cloud .rss img {
	margin: 0 2px;
	vertical-align: text-bottom;
}


span.tag-1 {
	font-size: 10px;
}
span.tag-2 {
	font-size: 12px;
}
span.tag-3 {
	font-size: 14px;
}
span.tag-4 {
	font-size: 16px;
}
span.tag-5 {
	font-size: 18px;
}
span.tag-6 {
	font-size: 20px;
}
span.tag-7 {
	font-size: 22px;
}
span.tag-8 {
	font-size: 24px;
}
a span.language {
	color: blue;
	padding: 0 3px;
	font-size: 90%;
}
a span.poster {
	color: #aaa;
	padding: 0 3px;
	font-size: 90%;
}

.tx-pastecode-pi1 ol {
	margin-left: 25px;
	color: #aaa;
}

#txtcopy {
	width: 100%;
}

.tx-pastecode-pi1 pre {
	font-size:0.9em;
}

.codedescription {
	margin: 5px 0;
	border: 1px dotted #FF9F33;
	padding: 5px;
	font-style: italic;
}

.tags {
	margin: 5px 0;
	border: 1px dotted #FF9F33;
	padding: 5px;
	font-size: 0.8em;
}

#pastediv p {
	font-size: 10px;
	margin: 5px 0 0 0 !important;
}

.tx-pastecode-pi1 form fieldset {
	border: 1px solid #ddd;
	padding: 10px;
	width: 480px;
}
.tx-pastecode-pi1 form fieldset legend {
	background-color: #FF9F33;
	padding: 6px;
	color: #fff;
	font-weight: bold;
}
.tx-pastecode-pi1 form label {
	padding: 8px 2px 2px 2px;
	display: block;
}
.tx-pastecode-pi1 form label.checklabel {
	padding: 8px 2px 2px 2px;
	display: inline;
}
.tx-pastecode-pi1 form  input.txt {
	width:460px;
}
.tx-pastecode-pi1 form  input.check {
	width: 15px;
}
.tx-pastecode-pi1 form  .txtarea {
	width:460px;
}

p.submitbuttons {
	margin: 5px 0;
}

#linkHelp {
	margin:4px 0;
	background-color: #eee;
	border: 1px solid #aaa;
	padding: 5px;
	line-height: 1.5;
	width:450px;
}
