/* Fading Tooltips */
div#toolTip {
position:absolute;
width:220px;
background:#000;
border:2px double #fff;
text-align:left;
padding:5px;
-moz-border-radius:5px;
z-index:1000;
}
div#toolTip p {
margin:0;
padding:0;
color:#fff;
font:11px/12px verdana,arial,serif;
}
div#toolTip p em {
display:block;
margin-top:3px;
color:#f60;
font-style:normal;
font-weight:bold;
}
